$colors:(
    primary:#ff7f33,
    primary-light:lighten(#ff7f33, 20%),
    primary-dark:darken(#ff7f33, 40%),
    accent:#fbf7dd
);
$borders:15px;
$padding:15px;
@function color($color-name){
    @return map-get($map: $colors, $key: $color-name);
}

$desktop:840px;

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}

*{
    transition: all .75s ease;
}
body, html{
    height:100%;
    animation: TransitionIn .75s;
}
@keyframes TransitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
body{
    font-family:'Montserrat';
    margin: 0;

    #bg{
        clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 100%, 0 0);
        background-color: color(primary);
        width:100%;
        height:100vh;
        position:fixed;
        z-index:-1;
        @include desktop{
            clip-path: polygon(0 0, 77% 0, 60% 100%, 0% 100%);
        }
    }

    header a{
        color: #fff;
        text-decoration: none;
        padding:$padding;
        display: block;
        text-transform:uppercase;
    }
}

main{
 
    @include desktop{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-areas:
        "primary card"
        "secondary card2";
    }
    section#cardInfo{
        background-color: #fff;
        padding:10px;
        margin: 1em auto;
        border-radius:$borders;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        width:auto;
        
        @include desktop{
            grid-area:card2;
            align-content: center;
            margin:0.5em;
        }
        ul{
            list-style-type: none;
            margin: 0;padding:0;
            li{
                font-weight: 450;
                padding: 5px;
                a{
                    padding: 5px;margin:0;
                    text-decoration: none;
                    color: color(primary-dark);
                    transform: translateX(0px);
                    border-radius: $borders - 10;
                    background-color:color(primary-light);
                    transition: background-color .32s;

                    &:hover{
                        color: color(primary-light);
                        background-color: color(primary-dark);
                        transition: background-color .32s;
                    }
                }
            }
        }
    }
    section#card{
        background-color: #fff;
        padding:20px;
        margin: 1em auto;
        border-radius:$borders;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        width:80%;

        @include desktop{
            grid-area:card;
            height:fit-content;
            align-self: center;
            margin:1em;
        }

        ul{
            list-style-type: none;
            margin:0;padding:0;

            li{
                margin-bottom:10px;
                div.dp{
                    margin:0 auto;
                    align-content: center;
                    background: url("assets/images/dp.jpg") no-repeat;
                    background-size: contain;
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                    @include desktop{
                        width: 250px;
                        height:250px;
                    }
                }
                strong{
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    section#primary{
        color: #fff;
        padding:$padding;
        text-align: center;

        @include desktop{
            grid-area:primary;
            text-align: left;
            margin: em 0 0 4em;
        }

        h1{
            font-size: 3em;
            margin-top: .1em;
            text-transform: uppercase;

            @include desktop{
                width: 20%;
                font-size: 4em;
                line-height: .9em;;
            }
        }
        p{
            font-size: 1.4em;  
            @include desktop{
                font-size: 2;
            }
        }
        a{
            color:color(primary-dark);
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: color(accent);
            display: block;
            text-align: center;
            margin: 5px auto 0 auto;
            padding: $padding;


            @include desktop{
                display: inline-block;
                padding: $padding $padding * 4;
            }
           
        }
        div#skill{
            color:color(primary-dark);
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            background-color: color(accent);
            display: block;
            text-align: left;
            margin: 5px auto 0 auto;
            padding: $padding;
            width: 32%;
            h3{
                padding: 0;
            }
            ul{
                list-style-type: circle;
            }
            @include desktop{
                display: inline-block;
                padding: 15px;
                
            }
           
        }
       }  
    
}